* {
    margin: 0;
    padding: 0;
}
.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    background-image: url("https://media.themoviedb.org/t/p/w500/uJObFjTR5kqU9Ej1nCy0PloLmOf.jpg");
    background-size: cover;
}
.box {
    width: 500px;
    height: 500px;
    border: 10px solid black;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background-color: rgba(247, 243,242, 0.7);
    transform: translateY(40%);
}
.box_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#input_num {
    margin-top: 30px;
}
button {
    width: 50px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    background-color: tomato;
    cursor: pointer;
}
button:hover {
    background-color: rgb(204, 79, 56);
}
input {
    width: 250px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    padding: 20px
}
.hangman {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    position: relative;
}

.hang_head {
    width: 100%;
    height: 100px;
    display: inline;
}
.hang_body {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}
.hangman-part-1{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: none;
}
.hangman-part-2{
    width: 3px;
    height: 50px;
    background-color: black;
    display: none;
}
.hangman-part-3 {
    width: 3px;
    height: 50px;
    background-color: black;
    transform: rotate(90deg);
    position: absolute;
    margin-right: 50px;
    display: none;
    top: 20%;
}
.hangman-part-4 {
    width: 3px;
    height: 50px;
    background-color: black;
    transform: rotate(90deg);
    margin-left: 50px;
    position: absolute;
    display: none;
    top: 20%;
}
.hangman-part-5{
    width: 3px;
    height: 50px;
    background-color: black;
    transform: rotate(45deg);
    margin-right: 35px;
    position: absolute;
    margin-top: 42px;
    display: none;
    top: 25%;
}
.hangman-part-6{
    width: 3px;
    height: 50px;
    background-color: black;
    transform: rotate(135deg);
    margin-left: 35px;
    position: absolute;
    margin-top: 42px;
    display: none;
    top: 25%;
}
.hangman-part-7{
    width: 3px;
    height: 200px;
    background-color: red;
    transform: rotate(45deg);
    position: absolute;
    top: -10%;
    display: none;
}